<%= form_with(model: region, local: true) do |form| %>
  <% if region.errors.any? %>
    <div class="layout-content">
      <div class="layout-content-body">

        <div id="error_explanation">
          <h2><%= pluralize(region.errors.count, "error") %> Сохранение невозможо по причине:</h2>
          <ul>
            <% region.errors.full_messages.each do |message| %>
              <li class="alert-link"><%= message %></li>
            <% end %>
          </ul>
        </div>
  <% end %>
  </div>
  </div>

<% end %>
