<% content_for :content do %>
  <div class="layout-content">
    <div class="layout-content-body">
      <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Админпанель</span>
        </h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Число зарегистрированных турбаз:</h5>
          <div class="card-text">
            <h3> <%= @data %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>